html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: beige;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  background: #1b1f22;
  background-image: url(./images/bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

html {
  font-size: 16pt;
}

body,
input,
select,
textarea {
  font-size: 1rem;
  line-height: 1.65;
}

a {
  text-decoration: none;
  color: white !important;
}

a:hover {
  border-bottom-color: transparent;
}

h1{
  line-height: 1.5;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.4;
}

#header {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
  background-image: radial-gradient(rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 55%);
  max-width: 100%;
  text-align: center;
}

#header>* {
  transition: opacity 0.325s ease-in-out;
  position: relative;
  margin-top: 3.5rem;
}

#header>*:before {
  content: '';
  display: block;
  position: absolute;
  top: calc(-3.5rem - 1px);
  left: calc(50% - 1px);
  width: 3px;
  height: calc(3.5rem + 1px);
  background: #ffffff;
}

#header> :first-child {
  margin-top: 0;
}

#header> :first-child:before {
  display: none;
}

#header .logo {
  width: 7rem;
  height: 7rem;
  border: solid 2px #ffffff;
  border-radius: 100%;
}

i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#header .content {
  border-style: solid;
  border-color: #ffffff;
  border-top-width: 2px;
  border-bottom-width: 2px;
  max-width: 100%;
  
}

#header .content .inner {
  transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
  transition-delay: 0.25s;
  padding: 3rem 2rem;
  max-height: 40rem;
  overflow: hidden;
}

#header .content .inner> :last-child {
  margin-bottom: 0;
  margin-top: 2.25rem;
}
#header .content h1 {
  letter-spacing: 1rem;
}
#header .content p {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  line-height: 2;
}

.field,
.textarea {
  width: 100%;
  color: black;
}
.modal-header {
  text-align: left;
}

.modal-content {
  margin-top: 150px !important;
  background-color: black !important;
}

.modal-title {
  padding-top: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 2rem;
}

.close {
  color: white;
  background-color: black;
  font-size: 5rem !important;
}

.modal-body {
  padding-top: 50px;
  font-size: 2rem !important;
  letter-spacing: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal a {
  color: white !important;
}
.outils ul {
  display: inline-flex;
  flex-wrap: wrap;
}
.outils ul li {
  cursor: default;
  list-style: none;
  padding: 0px 5px 0px 15px !important;
  font-size: 3rem;
}
.outils i{
  justify-content: center;
    text-decoration: none;
    /* margin: 0 0.5rem 0 0.5rem; */
    position: relative;
    height: 5rem;
    top:0;
    left: 0;
  }
ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
}

ul.icons li {
  display: inline-block;
  padding: 0 0.75em 0 0;
  margin: 2.5rem 2.5rem 2.5rem 2.5rem;
}

ul.icons li:last-child {
  padding-right: 0;
}

ul.icons li a {
  border-radius: 100%;
  box-shadow: inset 0 0 0 2px #ffffff;
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  width: 3rem;
}

ul.icons li a:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

ul.icons li a:active {
  background-color: rgba(255, 255, 255, 0.175);
}

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

.icon>.label {
  display: none;
}

.icon:before {
  line-height: inherit;
}

.icon.solid:before {
  font-weight: 900;
}

.icon.brands:before {
  font-family: 'Font Awesome 5 Brands';
display: flex;
    justify-content: center
}
#main {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
  background-image: radial-gradient(rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 55%);
  max-width: 100%;
  text-align: center;
}

#main>* {

  transition: opacity 0.325s ease-in-out;
  position: relative;
  margin-top: 5rem;
}

#main>*:before {
  content: '';
  display: block;
  position: absolute;
  top: calc(-3.5rem - 1px);
  left: calc(50% - 1px);
  width: 1px;
  height: calc(3.5rem + 1px);
  background: #ffffff;
}

#main> :first-child {
  margin-top: 0;
}

#main> :first-child:before {
  display: none;
}

#main .content p {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  line-height: 2;
}

#main nav ul {
  display: flex;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
  border: solid 1px #ffffff;
  border-radius: 4px;
}

#main nav ul li {
  padding-left: 0;
  border-left: solid 1px #ffffff;
  padding: 2rem 2rem 2rem 2rem;
}

#main nav ul li:first-child {
  border-left: 0;
}

#main nav ul li a {
  min-width: 7.5rem;
  height: 2.75rem;
  line-height: 2.75rem;
  padding: 0 1.25rem 0 1.45rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.75rem;
  border-bottom: 0;
 }

#main nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.164);
  text-decoration: none;
  color: blanchedalmond;
}

#main nav ul li:active {
  background-color: rgba(255, 255, 255, 0.175);
  text-decoration: none;
}

#main nav.use-middle:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  width: 1px;
  height: 100%;
  background: #ffffff;
}

#main nav.use-middle ul li.is-middle {
  border-left: 0;
}

html.is-article-visible #main {
  transform: scale(0.95);
  filter: blur(0.1rem);
  opacity: 0;
}

html.is-preload #main {
  filter: blur(0.125rem);
}

html.is-preload #main>* {
  opacity: 0;
}

html.is-preload #main .content .inner {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
}
.field .button {
  align-items: center;
}
button {
  display: flex;
  color: white !important;
}

#footer {
  width: 100%;
  max-width: 100%;
  margin-bottom: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  line-height: 2;
  cursor: pointer;
  margin-top: 110px;
}
#footer p {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  line-height: 2;
}
#footer a{
  padding-left: 20px !important;
}

@media screen and (max-width: 980px) {

  #header .content p br {
    display: none;
  }
  #main .content p br {
    display: none;
  }
}
@media screen and (min-width: 200px) and (max-width: 767px) {
  h1 {
    font-size: 1.50rem;
    line-height: 1.4;
  }

  h2,
  p {
    font-size: 0.75rem !important;
    line-height: 1.5;
  }

}
@media screen and (max-width: 736px) {

  #header>* {
    margin-top: 2rem;
  }

  #header>*:before {
    top: calc(-2rem - 1px);
    height: calc(2rem + 1px);
  }

  #header .logo {
    width: 4.75rem;
    height: 4.75rem;
    line-height: 4.75rem;
  }

  #header .logo .icon:before {
    font-size: 1.75rem;
  }

  #header .content .inner {
    padding: 2.5rem 1rem;
  }

  #header .content p {
    line-height: 1.875;
  }

  #main>* {
    margin-top: 2rem;
  }

  #main>*:before {
    top: calc(-2rem - 1px);
    height: calc(2rem + 1px);
  }
}
@media screen and (max-width: 480px) {

  #header {
    padding: 1.5rem 0;
  }

  #header .content .inner {
    padding: 2.5rem 0;
  }

  #header .logo {
    width: 3.75rem;
    height: 3.75rem;
    line-height: 3.75rem;
  }

  #header .logo .icon:before {
    font-size: 1rem;
  }

  i {
    font-size: 2rem;
  }
  .fa-3x{
    font-size: 2rem !important;
    position: center;
    padding-top:3px ;
  }
  #main {
    padding: 1.5rem 0;
  }

  #main .content .inner {
    padding: 2.5rem 0;
  }

  #main nav ul {
    flex-direction: column;
    min-width: 10rem;
    max-width: 100%;
  }

  #main nav ul li {
    border-left: 0;
    border-top: solid 1px #ffffff;
  }

  #main nav ul li:first-child {
    border-top: 0;
  }

  #main nav ul li a {
    height: 3rem;
    line-height: 3rem;
    min-width: 0;
    width: 100%;
  }

  #main nav.use-middle:after {
    display: none;
  }

}
