/*!
 * Florence Sivadier
 * florencedev 2020
 */

/*
|--------------------------------------------------------------------------
| Variables CSS
|--------------------------------------------------------------------------
*/
:root {
  --bg-color: #1b1f22;
  --text-color: #f5f5dc;
  --border-color: #f5f5dc;
  --link-color: #fff;
  --btn-color: #fff;
}

/*
|--------------------------------------------------------------------------
| Règles générales
|--------------------------------------------------------------------------
*/
html {
  font-size: 20px;
}

body {
  background: var(--bg-color);
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

a:hover {
  text-decoration: none;
  color: var(--link-color);
}

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
*/
#header {
  margin: 5rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#header .logo {
  width: 72px;
  height: 72px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: var(--border-color);
  border-width: 2px;
  border-radius: 50%;
}

/* Trait vertical entre le logo et le titre */
#header .logo::after {
  content: "";
  width: 2px;
  height: calc(1.5rem + 2px);
  position: absolute;
  top: 100%;
  background-color: var(--border-color);
}

#header .content {
  margin: 1.5rem;
  padding: 2rem;
  border-style: solid;
  border-color: var(--border-color);
  border-width: 2px 0 2px 0;
  background-image: radial-gradient(rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 55%);
}

#header h1 {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  letter-spacing: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
}

#header p {
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

@media screen and (max-width: 768px) {
  #header h1 {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
  }

  #header p {
    font-size: 0.75rem;
  }
}

/*
|--------------------------------------------------------------------------
| Navigation
|--------------------------------------------------------------------------
*/
#nav {
  margin-bottom: 1rem;
  padding: 50px;
  display: flex;
  justify-content: center;
}

#nav a {
  padding: 1rem 1.75rem;
  text-transform: uppercase;
  white-space: nowrap;
  transition: background-color 200ms ease-in-out;
}

#nav a:hover {
  background-color: rgba(255, 255, 255, 0.164);
}

#nav a:first-child {
  border-style: solid;
  border-color: var(--border-color);
  border-width: 1px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#nav a:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#nav a:not(:first-child) {
  border-style: solid;
  border-color: var(--border-color);
  border-width: 1px 1px 1px 0;
}

@media screen and (max-width: 768px) {
  #nav {
    flex-wrap: wrap;
  }

  #nav a {
    padding: 0.75rem 1rem;
    flex: 100%;
    font-size: 0.75rem;
    text-align: center;
  }

  #nav a:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  #nav a:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  #nav a:not(:first-child) {
    border-style: solid;
    border-color: var(--border-color);
    border-width: 0 1px 1px 1px;
  }
}

/*
|--------------------------------------------------------------------------
| Modals
|--------------------------------------------------------------------------
*/
.modal .modal-content {
  background-color: black;
}

.modal .modal-content .modal-header .modal-title {
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.modal .modal-content .modal-header .close {
  color: white;
}

.modal .modal-content .modal-body p {
  letter-spacing: 0.1rem;
}

/* Intro */
#intro .modal-content .modal-footer {
  justify-content: flex-start;
}

#intro .modal-content .modal-footer .outils {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

#intro .modal-content .modal-footer .outils li {
  padding: 0.5rem;
  font-size: 1.5rem;
}

/* Work */
#work .modal-content .modal-footer {
  justify-content: flex-start;
}

#work .modal-content .modal-footer .projets {
  padding: 0;
  list-style: none;
}

#work .modal-content .modal-footer .projets li {
  padding: 0.5rem;
}

/* About */

/* Contact */
#contact .modal-content .modal-body .form .field {
  margin-bottom: 1rem;
}

#contact .modal-content .modal-body .form .field input,
textarea {
  padding: 0.5rem;
  width: 100%;
  border: none;
  border-radius: 4px;
}

#contact .modal-content .modal-body .form .form-btn {
  padding: 0.5rem 1rem;
  border: none;
  background: var(--btn-color);
}

#contact .modal-content .modal-footer {
  justify-content: space-around;
}

#contact .modal-content .modal-footer .social {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

#contact .modal-content .modal-footer .social li {
  padding: 0.5rem;
  font-size: 1.5rem;
}

#contact .modal-content .modal-footer .social li a {
  padding: 0.5rem;
  display: inline-block;
  width: 64px;
  height: 64px;
  border: 2px solid var(--border-color);
  border-radius: 50%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .modal .modal-content .modal-header .modal-title {
    font-size: 1rem;
  }

  .modal .modal-content .modal-body p {
    font-size: 0.75rem;
  }

  #work .modal-content .modal-footer .projets li {
    font-size: 0.75rem;
  }

  #contact .modal-content .modal-body .form .field input,
  textarea {
    font-size: 0.75rem;
  }

  #contact .modal-content .modal-body .form .form-btn {
    font-size: 0.75rem;
  }
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/
#footer {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

#footer a {
  padding: 0.25rem 0.5rem;
  font-size: 0.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  white-space: nowrap;
}
